body {
    background-image: url("../images/polymesh2-08-01.jpg");
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

p, #magicNumber {
    font-family: 'Chilanka', cursive;
    font-size: 22px;
}

#score, #clicks, #wins, #losses {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    margin-top: 50px;
    font-weight: bold;
}